.git
.github
.vs
.venv
artifacts
build
output
test-results
webclient/.cache
webclient/node_modules
webclient/client-wasm/build
!webclient/client-wasm/build/
!webclient/client-wasm/build/link/
!webclient/client-wasm/build/link/startup_harness.html
Servidor/Data/DBSrv/DayLog
Servidor/Data/DBSrv/imagens
Servidor/Data/TMSrv/Log
**/__pycache__
**/*.pyc
**/*.exe
**/*.dll
**/*.pdb
**/*.obj
**/*.o
